:root{
    --primary: rgb(212, 151, 161);
    --business: rgb(141, 213, 235);
    --personal: var(--primary);
    --light: rgb(253, 253, 207);
    --dark:rgb(109, 104, 104);
    --danger:rgb(148, 36, 36);
    --gray: rgb(121, 115, 115);
 
    --shadow: 0 1px 3px rgba(17, 17, 17, 0.75);
    
    --business-glow: 0 1px 3px rgba(58,130,238,0.75);
    --personal-glow: 0 1px 3px rgba(196, 41, 149, 0.75);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: var(--light);
    color: var(--dark);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5em;
}

h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4{
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}
